/* Write your CSS here */
.sub-container3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #cffafe;
  height: 15vh;
  width: 300px;
  border-radius: 20px;
  border-style: solid;

  border-width: 2px;
  border-color: #06b6d4;
}

.sub-container4 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ede9fe;
  height: 15vh;
  width: 300px;
  border-radius: 20px;
  border-style: solid;

  border-width: 2px;
  border-color: #7c3aed;
}
